
<!------ Include the above in your HEAD tag ---------->

<app-products 
[products]="products" 
(setFilters)="setFilter($event)"
[filter]="filter"
[lastPage]="lastPage"
></app-products>
<!--container.//-->

<br><br><br>
<article class="bg-secondary mb-3">  
<div class="card-body text-center">
    <h4 class="text-white">GHARMOUL STORE <br>  </h4>
<p class="h5 text-white"> Visit my Github from here</p>   <br>
<p><a class="btn btn-warning" target="_blank" href="https://github.com/AhmedGhrml"> AhmedGhrml Github  
 <i class="fa fa-window-restore "></i></a></p>
</div>
<br><br><br>
</article>