
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    </style>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">
    <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#">
                    <span data-feather="home"></span>
                   <h2>Dashboard</h2> 
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin">
                    <span data-feather="file"></span>
                    Users
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" routerLink="/adminproduct">
                    <span data-feather="shopping-cart"></span>
                    Products
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin/paiements">
                    <span data-feather="users"></span>
                    Transactions
                  </a>
                </li>
               
                
              </ul>
      
             
            
            </div>
          </nav>
      
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Admin Dashboard</h1>
              
            </div>
      
      
            <h2>Products</h2>
            <h6><b>Total products :</b> {{productsnumber}}  </h6>
            <div class="table-responsive">
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
                <div>
                    <table class="table align-items-center">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">#</th>
                                <th scope="col" class="sort" data-sort="budget">Title</th>
                                <th scope="col" class="sort" data-sort="status">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col" class="sort" data-sort="completion">Contributor</th>
                                <th scope="col" class="sort" data-sort="completion">Action</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="list" *ngFor="let product of products ;let index = index">
                            
                            <tr>
                                <th scope="row" >
                                   {{index+1}} 
                                </th>
                                <td class="budget">
                                    {{product.title}}
                                </td>
                                <td>
                                    {{product.type}}
                                </td>
                                <td>
                                    
                                        {{product.price}}
                                        
                
                
                                </td>
                                <td>
                                    
                                    {{product.contributor}}
                                    
            
            
                            </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2" >
                                        
                                            <button type="button" class="btn btn-sm btn-danger" (click)="delete(product['_id'])" >Delete</button>
                                            &nbsp;&nbsp;
                                            <button type="button" class="btn btn-sm btn-warning" routerLink="/admin/updateproduct" (click)="setProductId(product['_id'])"   >Update</button>
                                            </span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                           
                            <!-- Edit Modal -->
    
                        
                
                    </tbody>
                    
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination" >
                        <div *ngFor="let page of pagesarray">
                      <li class="page-item" (click)="page1(page)"><a class="page-link" routerLink="/adminproduct">{{page+1}}</a></li>
                    </div>
              
                      
                       
                     
                    </ul>
                  </nav>
            </div>
            
            </div>
    
            
          </main>
          
        </div>
        
      </div>
      